<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">R.I.S.K Bot Battle Site</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/matchview">
                <span class="bi bi" aria-hidden="true"></span> View a Match
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/submitpage">
                <span class="bi bi" aria-hidden="true"></span> Submit My Own Bot
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/aboutpage">
                <span class="bi bi" aria-hidden="true"></span> About the Developers 
            </NavLink>
        </div>

        
    </nav>
</div>

