@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Risk Bot Battle Site</h1>
Created for our IUS Capstone Course

<h2>What To Do:</h2>

<h3>Don't have an account?</h3>
<p>You can create your account by clicking on the "Create an Account" button on the top right corner of the page.</p>
Sign up with a Google Account or Create your own account with an email and password.

<h3>Want watch two A.I.'s play R.I.S.K?</h3>
Click the "View a Match" button on the sidebar to watch two A.I.s battle in a game of strategy.

<h3>Want to submit your own Bot?</h3>
<p>If you have an account and want to submit your own bot to compete against others, click on "Submit My Own Bot" button in the sidebar.</p>
<p>There you will find information about how to set your bot up and how to submit your bot.</p>

<h3>Want to learn more about who created this website?</h3>
<p>Click on the "About the Developers" button in the sidebar to learn about who developed this website and why.</p>


